.DivGrande {
  margin: 50px;
  padding: 8px;
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  margin-right: 5rem;
  width: 100%;
}

.Titulo {
  color: #00712d;
}

.textoParagrafo {
  color: #0b5227;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  margin-right: 200px;
}

.input {
  padding: 20px;
  margin-bottom: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

.DivGrande {
  display: flex;
  flex-direction: column;
}

.InfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  font-size: 20px;
  margin: 30px;
}

.InfoSection {
  flex: 1;
  padding-right: 20px;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
}

.input {
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
}

.botao {
  padding: 12px;
  border-radius: 10%;
  background-color: #00712d;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: none;
}
