/* QuartaSecao.module.css */
.ContainerFotos {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
  cursor: pointer;
}

.ItemFoto {
  width: 200px;
  height: auto;
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.Foto {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.Foto:hover {
  transform: scale(1.1); /* Aumenta a imagem em 10% */
}
.Subtitulo {
  color: #00712d;
}
.paragrafo {
  font-size: 25px;
}
